<?xml version="1.0" encoding="utf-8"?>
<xml>
    <settings>
        <item>
            <title>Layout &amp; Input</title>
            <view>LayoutSettings</view>
            <path>qml</path>
            <icon>qml/icons/detail_icon.svg</icon>
            </item>
        <item>
            <title>Network</title>
            <view>NetworkSettings</view>
            <path>network</path>
            <icon>newIcons/network_icon.svg</icon>
        </item>
        <item>
            <title>Date &amp; Time</title>
            <view>TimeDate</view>
            <path>timedate</path>
            <icon>newIcons/date-time_icon.svg</icon>
        </item>
        <item>
            <title>Language</title>
            <view>Language</view>
            <path>locale</path>
            <icon>newIcons/language_icon.svg</icon>
        </item>
        <item>
            <title>Bluetooth</title>
            <view>Bluetooth</view>
            <path>bluetooth</path>
            <icon>newIcons/bluetooth_icon.svg</icon>
        </item>
        <item>
            <title>Display</title>
            <view>Display</view>
            <path>display</path>
            <icon>newIcons/display_icon.svg</icon>
        </item>
        <item>
            <title>About Qt</title>
            <view>AboutQt</view>
            <path>qml</path>
            <icon>qml/icons/info_icon.svg</icon>
        </item>
        <item>
            <title>Power</title>
            <view>Power</view>
            <path>power</path>
            <icon>newIcons/power_icon.svg</icon>
        </item>
    </settings>
</xml>
